* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #F7F7F7;
    color: #F7F7F7;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

#main_page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #263238;
    box-shadow: 0 -2px 18px 10px rgba(38,50,56,1);
}

#main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
}

#title {
    color: #F7F7F7;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

#sub-title {
    font-weight: 900;
    text-align: center;
    border-bottom: 3px solid #F7F7F7;
    border-radius: 3px;
    padding-bottom: 5px;
}

#footer-arrow img {
    margin: 0;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lower-page {
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
    color: #263238;
}

#blogposts {
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blogpost-title {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 32px;
}

.blogpost-pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blogpost-pair .blogpost {
    margin: 10px 50px
}

.blogpost {
    width: 90%;
    max-width: 750px;
    min-width: 400px;
    padding: 20px 20px 70px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    overflow-wrap: break-word;
    background-color: #F0F0F0;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    color: #4f5660;
    border: 1px #DFDFDF solid;
    border-radius: 5px;
    margin-bottom: 120px;
}

.h-divider {
    width: 90%;
    margin: 12px auto 0 auto;
    height: 6px;
    border-top: #b1b3b4 1px solid;
}

.blog-image {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.down-arrow {
    width: calc(100% - 40px);
    max-width: calc(750px - 40px);
    min-width: 400px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
}

.up-arrow {
    width: 100%;
    max-width: 750px;
    min-width: 400px;
    margin: 16px auto 0;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
}

.blog-title-details {
    position: absolute;
    width: calc(100% - 40px);
    max-width: calc(750px - 40px);
    min-width: 400px;
}

.blog-date {
    position: absolute;
}

.blog-position {
    float: right;
}

.blog-info {
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
}

.blog-info > p {
    margin: 0 0 20px 10px;
}

.blog-info > .final-p {
    margin: 0 0 0 10px;
}

.title-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
